@tailwind base;
@tailwind components;
@tailwind utilities;

/*h1:hover {*/
/*    background-color: yellow;*/
/*    transition: background-color 1s;*/
/*}*/

[contenteditable] {
    outline: 0;
}

[contenteditable]:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: #919191;
}

.text_editor {
    margin-left: 10%;
    margin-right: 10%;
}


