@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable] {
    outline: 0;
}

h1 {
    color: red;
}

[contenteditable]:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: #eaeaea;
}